* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}
:root {
  --main-color: #f44336;
  --yellow: #f89e13;
  --green: #18ba89;
  --blue: #27303f;
}
h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}
.guess-game {
  text-align: center;
  width: 85%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .game-area {
    margin-right: -50px;
    .inputs {
      > div {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 30px;
          margin-right: 15px;
          font-weight: bold;
        }
      }
 
      .disabled-input {
        opacity: 0.5;
        pointer-events: none;
      }
      input {
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 40px;
        caret-color: var(--main-color);
        background-color: white;
        border: none;
        border-bottom: 3px solid #333;

        &:focus {
          outline: none;
        }
        &.yes-in-place {
          background-color: var(--yellow);
          border-color: var(--yellow);
          color: white;
        }
        &.no {
          background-color: var(--blue);
          border-color: var(--blue);
          color: white;
        }
        &.not-in-place {
          background-color: var(--green);
          border-color: var(--green);
          color: white;
        }
      }
    }
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 30px auto;
      gap: 10px;
      .check {
        border: 0;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        background-color: var(--main-color);
        color: white;
        cursor: pointer;
        font-weight: bold;
        flex: 1;
      }
      .hint {
        border: none;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        background-color: var(--green);
        color: white;
        cursor: pointer;
        font-weight: bold;
        width: fit-content;
      }

      button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }
  }
  .key-colors {
    margin-left: 50px;
    .key-color {
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: white;
      margin-bottom: 15px;
      border-radius: 10px;

      .key {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 2px;
        &.in-place {
          background-color: var(--yellow);
        }
        &.no {
          background-color: var(--blue);
        }
        &.not-in-place {
          background-color: var(--green);
        }
      }
    }
  }
  .key-text {
    font-size: 18px;
    font-weight: bold;
  }
}

.leader-board {
  width: 300px;
  background: #f6f6f6;
  border: 2px solid #2196f3;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.leader-board h2 {
  color: #2196f3;
  margin-bottom: 10px;
}

.leader-board table {
  width: 100%;
  border-collapse: collapse;
}

.leader-board th,
.leader-board td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.message {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  span {
    font-weight: bold;
    display: block;
    font-size: 50px;
    color: var(--main-color);
    text-transform: capitalize;
    margin-top: 10px;
  }
  p {
    margin-top: 15px;
  }
}

footer {
  text-align: center;
  position: relative;
  padding: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 18px;
}
@media (max-width: 677px) {
  footer {
    display: none;
  }
}
@media (max-width: 677px) {
  body .inputs input {
    width: 40px !important;
    height: 40px !important;

    font-size: 30px !important;
  }
  .inputs div span {
    font-size: 30px !important;
  }
}

 .control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(3, 169, 244, 0.9);
}
.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F44336;
  color: #FFF;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
